@model List<Shop.Car.Model.OrderInfo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowOrder</title>
</head>
<body>
	<table>
		<tr align="center">
			<td><a href="/Admin/AddUser">新增用户</a></td>
		</tr>

		<tr>
			<th>订单ID</th>
			<th>车名</th>
			<th>购买人</th>
			<th>数量</th>
			<th>总价</th>
			<th>购买时间</th>
			<th>备注</th>
			<th>状态</th>
			<th>操作</th>
		</tr>

		@foreach (var item in Model)
		{
			
		<tr>
			@{ string state = (item.OState == 0 ? "已下单" : "已完成"); };
			<td>@item.OId</td>
			<td>@item.CarInfo.CName</td>
			<td>@item.UserInfo.URealName</td>
			<td>@item.ONumber</td>
			<td>@item.OPrice</td>
			<td>@item.OCreateTime</td>
			<td>@item.ORemark</td>
			<td>@state</td>
			<td>
				@if (state == "已下单")
				{
					@*<a href="/Admin/DoworkOrder/@item.OId">完成订单</a>*@
					<a class="completeLink" oid="@item.OId" href="javascript">完成订单</a>
				}
			</td>


		</tr>
		}
	</table>

	<script type="text/javascript">
		$(function () {
			$('.completeLink').click(function () {
				var oid = $(this).attr('oid');
				$.post('/Admin/DoworkOrder', {id:oid}, function (res) {
					if (res == 'ok') {
						alert('成功！');
						window.location.reload();
					} else {
						alert('失败！');
					}
				});
			});
		});
	</script>
</body>
</html>
